@model PWRekruter.Models.Kierunek

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Kierunek</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Skrot" class="control-label"></label>
                <input asp-for="Skrot" class="form-control" />
                <span asp-validation-for="Skrot" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nazwa" class="control-label"></label>
                <input asp-for="Nazwa" class="form-control" />
                <span asp-validation-for="Nazwa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stopien" class="control-label"></label>
                <select asp-for="Stopien" class="form-control"></select>
                <span asp-validation-for="Stopien" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tryb" class="control-label"></label>
                <select asp-for="Tryb" class="form-control"></select>
                <span asp-validation-for="Tryb" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Forma" class="control-label"></label>
                <select asp-for="Forma" class="form-control"></select>
                <span asp-validation-for="Forma" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CzasTrwania" class="control-label"></label>
                <input asp-for="CzasTrwania" class="form-control" />
                <span asp-validation-for="CzasTrwania" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DyscyplinaNaukowa" class="control-label"></label>
                <input asp-for="DyscyplinaNaukowa" class="form-control" />
                <span asp-validation-for="DyscyplinaNaukowa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JezykWykladowy" class="control-label"></label>
                <select asp-for="JezykWykladowy" class="form-control"></select>
                <span asp-validation-for="JezykWykladowy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Profil" class="control-label"></label>
                <input asp-for="Profil" class="form-control" />
                <span asp-validation-for="Profil" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Czesne" class="control-label"></label>
                <input asp-for="Czesne" class="form-control" />
                <span asp-validation-for="Czesne" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CzesneDlaCudzoziemcow" class="control-label"></label>
                <input asp-for="CzesneDlaCudzoziemcow" class="form-control" />
                <span asp-validation-for="CzesneDlaCudzoziemcow" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LiczbaMiejsc" class="control-label"></label>
                <input asp-for="LiczbaMiejsc" class="form-control" />
                <span asp-validation-for="LiczbaMiejsc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OplataRekrutacyjna" class="control-label"></label>
                <input asp-for="OplataRekrutacyjna" class="form-control" />
                <span asp-validation-for="OplataRekrutacyjna" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Opis" class="control-label"></label>
                <input asp-for="Opis" class="form-control" />
                <span asp-validation-for="Opis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
