@model PWRekruter.Models.Kandydat

@{
    ViewData["Title"] = "Edit";
    ViewData["Sciezka"] = "Panel kandydata / Podstawowe dane kandydata";
}
<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row justify-content-around">
        <div class="col-4">
            <div class="form-group">
                <label asp-for="Imie" class="control-label"></label>
                <input asp-for="Imie" class="form-control" />
                <span asp-validation-for="Imie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DrugieImie" class="control-label"></label>
                <input asp-for="DrugieImie" class="form-control" />
                <span asp-validation-for="DrugieImie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nazwisko" class="control-label"></label>
                <input asp-for="Nazwisko" class="form-control" />
                <span asp-validation-for="Nazwisko" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pesel" class="control-label"></label>
                <input asp-for="Pesel" class="form-control" />
                <span asp-validation-for="Pesel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Plec" class="control-label"></label>
                <select asp-for="Plec" class="custom-select" asp-items="Html.GetEnumSelectList<Plec>()">
                    <option value="">Wybierz</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="DataUrodzenia" class="control-label"></label>
                <input asp-for="DataUrodzenia" class="form-control"/>
                <span asp-validation-for="DataUrodzenia" class="text-danger"></span>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label asp-for="Panstwo" class="control-label"></label>
                <input asp-for="Panstwo" class="form-control" />
                <span asp-validation-for="Panstwo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KodPocztowy" class="control-label"></label>
                <input asp-for="KodPocztowy" class="form-control" />
                <span asp-validation-for="KodPocztowy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Miejscowosc" class="control-label"></label>
                <input asp-for="Miejscowosc" class="form-control" />
                <span asp-validation-for="Miejscowosc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ulica" class="control-label"></label>
                <input asp-for="Ulica" class="form-control" />
                <span asp-validation-for="Ulica" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumerBudynku" class="control-label"></label>
                <input asp-for="NumerBudynku" class="form-control" />
                <span asp-validation-for="NumerBudynku" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumerMieszkania" class="control-label"></label>
                <input asp-for="NumerMieszkania" class="form-control" />
                <span asp-validation-for="NumerMieszkania" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Email" />
            <input type="hidden" asp-for="Haslo"/>
        </div>
    </div>

    <div class="row justify-content-around mt-4">
        <div class="col-md-5">
            <div class="d-flex justify-content-end">
                <a class="btn btn-secondary ml-auto" asp-action="Index">Anuluj</a>
            </div>
        </div>
        <div class="col-md-5">
            <div class="d-flex justify-content-start">
                <div class="form-group">
                    <input type="submit" value="Zapisz" class="btn btn-primary mr-auto" />
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
