@model PWRekruter.Models.Kandydat

@{
    ViewData["Title"] = "Panel Kandydata";
    ViewData["Sciezka"] = "Panel kandydata";
}

<a asp-action="Edit" asp-route-id="@Model.Id">Podstawowe dane kandydata</a> |
<a asp-controller="Egzaminy" asp-action="Edit">Wyniki egzaminów</a> |
<a asp-action="Aplikacja">Moja aplikacja</a>

