@model PWRekruter.Models.Rekruter

@{
    ViewData["Title"] = "Panel Rekrutera";
    ViewData["Sciezka"] = "Panel rekrutera";
}

<a asp-controller="Kierunki" asp-action="IndexAdmin">Zarządzaj kierunkami</a> |
<a asp-controller="Aplikacje" asp-action="Index">Aplikacje kandydatów</a>

