@model PWRekruter.Models.Rekruter

@{
    ViewData["Title"] = "Panel Rekrutera";
    ViewData["Sciezka"] = "Panel rekrutera";
}

<a asp-controller="Wydzialy" asp-action="Index">Zarządzaj wydziałami i kierunkami</a> |
<a asp-controller="Aplikacje" asp-action="Index">Aplikacje kandydatów</a>

